<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eleve Direct - Se connecter</title>
  <link rel="icon" href="/static/legal/elevedirectbleue.png">
  <link rel="stylesheet" href="/static/css/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="manifest" href="/static/js/manifest.json">
</head>
<body style="padding: 1em">
<div class="content">
  <h1 class="with-icon">Eleve Direct<img style="height: 2em" src="/static/legal/elevedirectbleue.png"></h1>
  <p>Une application simple, permettant de retrouver sa carte de cantine, ses moyennes, son emploie du temps, ses devoirs et d'être notifié quand il faut réviser pour un contrôle <sup>Non officiel</sup><br>Connectez vous avec votre compte Ecoledirect</p>
  <article class="message">
    <div class="message-body">
      En utilisant ce service vous accepter les <a href="/cgu">Condition D'utilisation&nbsp;<i class="fas fa-file-invoice"></i></a>.
    </div>
  </article>
</div>
<div class="form">
  <form action="/login" method="post">
    <div class="field">
      <label class="label">Identifiant</label>
      <div class="control has-icons-right">
        <input class="input" type="text" placeholder="John Doe" name="username">
        <span class="icon is-small is-right">
          <i class="fas fa-user"></i>
        </span>
      </div>
      <p class="help is-danger"><i class="fas fa-exclamation is-danger"></i>&nbsp;Erreur sur le mot de passe ou nom d'utilisateur</p>
      <p class="help is-danger error"><i class="fas fa-bug is-danger error"></i>&nbsp;Une erreur est survenue, reconnectez vous !</p>
      <p class="help is-warning"><i class="fas fa-exclamation-triangle is-warning"></i>&nbsp;Session expirée</p>
    </div>
    <div class="field">
      <label class="label">Mot de passe</label>
      <div class="control has-icons-right">
        <input class="input" type="password" placeholder="*****" name="password">
        <span class="icon is-small is-right">
          <i class="fas fa-key"></i>
        </span>
      </div>
      <p class="help is-danger"><i class="fas fa-exclamation is-danger"></i>&nbsp;Erreur sur le mot de passe ou nom d'utilisateur</p>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-link">Se connecter&nbsp;<i class="fas fa-paper-plane"></i></button>
      </div>
    </div>
  </form>
</div>
<style>
    {% if not failed %}
    .is-danger:not(.error) {
        display: none;
    }
    {% endif %}
    {% if not expired %}
    .is-warning {
        display: none;
    }
    {% endif %}
    {% if not error %}
    .error {
        display: none;
    }
    {% endif %}
</style>
</body>
</html>